<div class="container">
  <div class="ribbon">BLOG</div>

<% @articles.each do |article| %>
  <div class=blog>
    <p class="titre">
      <%= sanitize article.titre %>
    </p>
    <p class="contenu">
      <%= sanitize article.contenu %>
    </p>
    <p class="pseudo">
      <%= article.user.pseudo %>
    </p>

  <div class="ribbon">  Salut les amis</div>
  </div>
<% end %>

<div class="centre">
  <%= will_paginate @articles, class: "digg_pagination" %>
</div>

</div>
