<!-- Blog Sidebar Widgets Column -->
<div class="">

  <div class="well fb-page" data-href="https://www.facebook.com/SynergieGaming/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
    <div class="fb-xfbml-parse-ignore">
      <blockquote cite="https://www.facebook.com/SynergieGaming/">
        <a href="https://www.facebook.com/SynergieGaming/">Synergie Gaming</a>
      </blockquote>
    </div>
  </div>
</div>
  <br>
  <br>

  <div class="well">
    <a class="twitter-timeline"
    href="https://twitter.com/SynergieG"
    data-widget-id="716152660647407616"
    class="responsive"
    height="400"
    width="340"
    data-chrome="nofooter"
    data-link-color="#820bbb"
    data-border-color="#a80000">Tweets de @SynergieG</a>
  </div>

  <br>
  <br>
  <div class="well">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="business" value="synergiemultigaming@gmail.com">
      <input type="hidden" name="lc" value="FR">
      <input type="hidden" name="item_name" value="synergiemultigaming">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="currency_code" value="EUR">
      <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
      <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
      <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>

  <div class="well">
    <a class="twitter-timeline"
    href="https://twitter.com/SynergieG"
    data-widget-id="654955570789773312"
    height="400"
    width="300"
    data-chrome="nofooter"
    data-link-color="#820bbb"
    data-border-color="#a80000">Tweets de @SynergieG</a>
  </div>
  <div class="well">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="business" value="synergiemultigaming@gmail.com">
      <input type="hidden" name="lc" value="FR">
      <input type="hidden" name="item_name" value="Team Synergie">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="currency_code" value="EUR">
      <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
      <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
      <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
  <br>
  <br>
  <div class="well">
    <div class="#serveurs">
      <h3>Nos serveurs</h3>
      <!-- BEGIN: Custom advanced (www.pluginaria.com) -->
      <iframe src="http://cache.www.gametracker.com/components/html0/?host=151.80.233.125:9987&bgColor=1F2642&fontColor=8790AE&titleBgColor=11172D&titleColor=FFFFFF&borderColor=333333&linkColor=FF9900&borderLinkColor=999999&showMap=0&showCurrPlayers=0&showTopPlayers=0&showBlogs=0&width=240" frameborder="0" scrolling="no" width="340" height="164"></iframe>
      <iframe src="http://cache.www.gametracker.com/components/html0/?host=85.190.128.211:2302&bgColor=1F2642&fontColor=8790AE&titleBgColor=11172D&titleColor=FFFFFF&borderColor=333333&linkColor=FF9900&borderLinkColor=999999&showMap=1&showCurrPlayers=0&showTopPlayers=0&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="288"></iframe><!-- END: Custom advanced (www.pluginaria.com) -->
    </div>
  </div>

  <div class="joomla-content-outer">
    <div class="joomla-content-inner">
      <div id="system-message-container">
      </div>
    </div>
  </div>
</div>
