<h1>Synergie Gaming</h1>



<h2>Introduction</h2>
<p>La team Synergie Gaming [SNG] est constituée d'un groupe de joueurs issus de toute sorte de jeux (DayZ, LoL, Minecraft, FIFA, etc...).
Notre communauté se tourne vers le multi-gaming et tend à se diversifier afin que nous puissions tous ensemble partager notre passion des jeux vidéos.</p>
<p>Le but étant de s'amuser ensemble dans la joie et la bonne humeur.</p>

<h3>I.Présentation</h3>

<h4>a) Qui sommes-nous?</h4>
<p>La team Synergie Gaming est constituée d'un groupe d'une cinquantaine de joueurs actifs (Nous entendons par "joueur actif" les joueurs connectés quasi quotidiennement), mais nous comptons dans nos rangs approximativement 100 membres.
Nos Joueurs sont issus de toute sorte de jeux, principalement DayZ, League of Legends et Fifa. Cependant nous avons plusieurs sections de jeux qui vous seront détaillées plus loin dans la présentation.
</p>
<p>L’équipe regroupe toute sorte de joueurs, de tous les niveaux, de tout age (recrutement à partir de 18 ans), nous sommes soudés, motivés et matures. Nous communiquons énormément et nous nous complétons les uns les autres.
</p>
<p>C'est avec beaucoup de plaisir que nous jouons a toute sorte de jeux, le but étant de partager du temps de jeu avec ses amis.
Tout nos joueurs ont le même et bon état d'esprit et partagent notre philosophe de jeu.
Les Synergiens adhérent à une philosophie qui se veut solidaire.
</p>

<p>La team est en perpétuel recrutement et nous choisissons nos joueurs au compte-gouttes afin de mieux les connaitre.</p>


<h4>b)La structure</h4>
<p>Afin d’être plus réactifs et puisque plusieurs cerveaux valent mieux qu'un, notre équipe est structurée de la sorte:
</p>
<p>Ainsi tous les projets de l’équipe sont définis de façon collégiale, aucune décision ne se prend seule.
</p>
<p>Nous mettons à disposition de tous un outil indispensable a notre communauté, le forum. Si vous lisez ce message, c'est que vous l'avez déjà trouvé. Le forum reste notre principale source d'information (calendrier, recrutement, évents, etc...).
Aussi vous pouvez trouver sur le forum le reglement intérieur des SNG ainsi que le barème de sanctions.
</p>
<p>L’équipe dispose aussi d'un Teamspeak sous licence gratuite ts.synergiegaming.fr.
</p>
<p>Nous mettons à disposition de nos membres plusieurs serveurs de jeu (DayZ, ArK, Minecraft, etc...) ainsi qu'une chaîne sur Twitch, accessible depuis la rubrique media sur notre page d'accueil.
</p>


<h4>c)Financement</h4>

<p>Effectivement une équipe comme la notre a un coût. Nous finançons les serveurs de jeu mais aussi le Teamspeak ou encore le site (hébergement et nom de domaine). Tous nos services et leurs coûts sont détaillés dans la section finance de notre forum.
</p>
<p>Nous fonctionnons avec un système de dons, il est donc possible pour qui veut de faire un don. L'argent reçu, est placé sur un compte Synergie Gaming et non sur un compte personnel, il est réutilisé uniquement pour l’équipe.
A savoir que faire un don n'octroie aucun avantage ni privilège.
</p>
<p>
  Nous sommes pour un maximum de transparence dans nos finances et chaque membre peut avoir accès a des factures s'il le souhaite.
</p>

<div class="">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="business" value="synergiemultigaming@gmail.com">
    <input type="hidden" name="lc" value="FR">
    <input type="hidden" name="item_name" value="synergiemultigaming">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
    <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
    <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
  </form>
</div>


<h3>II. Nos Sections de jeu</h3>

<h4>a)DayZ</h4>
<p>La section DayZ comprend une vingtaine de membres mais tous ne sont pas présents quotidiennement. Nous sommes une dizaines de joueurs actifs dont vous trouvez la liste régulièrement mise a jour ici.
</p>
<p>La section est constituée d'un admins et de deux modos.
</p>
<p>Notre philosophie de jeu reste celle de l’équipe à savoir être solidaire.
</p>
<p>Nous sommes à la fois RP et PVP, nous avons tout type de joueurs de différents niveaux.
</p>
<p>Chaque joueur est identifié sur notre TS par un barème d’étoiles qui indique le nombre d'heures de jeu de celui-ci.
Nous mettons à disposition des joueurs un serveur public de 30 slots sur lequel nous invitons tout le monde à venir jouer le plus souvent possible.
</p>
<p>Les joueurs peuvent trouver sur notre forum des consignes de jeu qui peuvent aider les plus novices, même certains expérimentés, a rendre leur expérience DayZ plus agréable.
</p>

<p>
  La section DayZ propose des évents le plus souvent possible, divers et variés (Hunger Game, Sauvé la Princesse, PvP foret, etc...)
</p>



<h4>b)League of Legends</h4>
<p>La section LoL compte dans ses rangs une quarantaine de joueurs réparti en 5 line-ups compétitifs.
</p>
<p>Elle est composée d'un Admin et d'un Modo responsables de la section et de son bon fonctionnement.
</p>
<p>Nous avons tout type de joueurs, en partie normale, en partie classée, en ARAM, etc...de tous les niveaux (de Diamond à Bronze).
</p>
<p>Sont mis a disposition des nouveaux arrivants sur notre forum tous types de guides afin de les aider dans leur progression.
</p>
<p>La création des Line-ups n’empêche en rien les joueurs de jouer tous ensemble s'ils le souhaitent.
</p>
<p>Les Line-ups permettent a certains joueurs, ceux qu'ils le souhaitent de mettre un pied dans la compétition, de nombreux évents vous sont proposés (Glory 4 gamers, Wanawar, etc...) ainsi que des lan, et nous créons des tournoi très régulièrement.
</p>
<p>Nos équipes se réunissent plusieurs fois par semaine pour s’entraîner et apprendre a se connaitre. Un coach peut être mis à disposition (observe la partie et conseille), le but étant toujours le même, se procurer un maximum de plaisir.
</p>
<p>De plus la diffusion de vos plus belles actions ou de vos plus beau matchs seront mis en ligne sur notre chaîne youtube ou dans notre section Stream.
</p>





<h4>c)Minecraft</h4>
<p>La section Minecraft dispose de son propre serveur. Ce dernier est un serveur dit modé utilisant un modpack personnalisé. Pour rejoindre notre serveur il faut bien évidement faire partir de notre communauté, mais ensuite rien de plus simple il vous faut juste télécharge le modpack sur notre serveur ts.
</p>
<p>La section est géré par un admin Eyefighter, aidé par un modérateur Pat34, qui travaille tout deux, pour amélioré le serveur est faire en sorte qu'il soit le plus complet possible.
</p>



<h4>d)FiFa 16</h4>

<p>L’équipe Synergie Gaming possède deux équipe FiFa 16.
</p>
<p>Le Synergie Football Club et le Synergie United
</p>
<p>L’équipe Synergie Football Club est actuellement composée de 15 joueurs. On y retrouve un directeur sportif, un entraineur et un capitaine.
</p>
<p>L'équipe Synergie United est en cours de créations et donc en plaine phase de recrutement.
</p>
<p>Tous les membres sont soumis a un entrainement par semaine et ont l'obligation d'y participer (sauf cas exceptionnel).
</p>
<p>L’équipe Synergie FC est inscrite dans la ligue 1 FVPA, une des meilleures à l'heure actuelle, regroupant les meilleures équipes françaises.
</p>
<p>L'équipe Synergie Utd sera quant a elle inscrit en ligue 2 la saison prochaine.
</p>
<p>La section FiFa 16 propose des tournois ouverts à tous et sous tout type de format (groupes, élimination directe, mini-championnat,etc...).
</p>

<h4>e)ArK</h4>
<p>Notre communauté dispose d'un serveurs de jeux Ark. Un serveur privé réservé aux membres de la team, ce dernier est accessible avec un mot de passe. Le jeu n'étant pas très ancien, nous commençons juste le développement de cette section, mais nous fondons beaucoup d'espoir sur elle.
</p>
<p>Le staff de cette section, a savoir un admin et un modo, ont pour objectif, d'en faire une section vivante, c'est a dire que nous voulons plus qu'un simple regroupement de joueurs sur Ark, nous voulons faire des Évent, organisé des Défis, etc. Vous aurez bientôt touts les détails sur notre site.
</p>


<h4>f)Autres jeux</h4>
<p>Notre communauté se diversifie en jouant à de nombreux jeux. Actuellement, toutes les sections se mélangent pour jouer à des jeux tels que des jeux de rôle papier mais aussi sur CS:GO, Team Fortress 2, The Crew, et bien d'autres encore.
</p>
<p>Toute nouvelle proposition de jeu est la bienvenue et le staff étudie toutes les proposition
</p>


<h3>IV. Le stream</h3>
<p>L’équipe Synergie Gaming met à votre disposition une Chaine Twitch , aussi accessible depuis l'onglet media sur notre page d'accueil.
</p>
<p>La chaine est accessible à tous les membres le l’équipe dans le respect du règlement lié au stream.
</p>
<p>Notre but est que la chaine soit active 24h/24.
</p>
<p>Une fois membre, il vous suffira de vous inscrire sur un planning de stream.
</p>
<p>Aussi nous vous fournissons des tutoriels, intro youtube, ou autres écrans de chargements pour vos lives.
</p>



<h3>IV. Le Blog</h3>
<p>Notre communauté dispose d'un blog ! Sur ce dernier vous pourrez suivre les derniers actualité des jeux joués dans la team, mais aussi des article plus profond sur une idée ou un débat, toujours en relations avec le milieux vidéo ludique.
</p>
<p>Tout le monde peut proposer un article, ce dernier sera relu et ensuite publié, et si la rédaction d'article vous intéresse, sachez que vous pouvez devenir un rédacteur officiel de la team SNG !
</p>

<h3>VI.Comment nous rejoindre ?</h3>

<p>Vous devez avoir 18 ans ou plus.
</p>
<p>Pour nous rejoindre, rien de plus simple, Il vous suffit de remplir un questionnaire de candidature ici.
</p>
<p>Toute nouvelle candidature est examinée et validée par un administrateur.
</p>
<p>Chaque nouveau postulant est soumis à une période de 15 jours de test, une fois celle-ci terminée, les admins valident définitivement ou refusent la candidature.
</p>
<p>Nous demandons aux personnes qui nous rejoignent de prendre part à la communauté et de respecter la philosophie de l’équipe.
</p>
<p>L’équipe Synergie Gaming recrute, n’hésitez pas a nous rejoindre!
</p>


<h2>Conclusion</h2>
<p>Un groupe de joueurs sympathique et actifs, une équipe structurée et expérimentée, de nombreux évents et tournois, des joueurs de tous les niveaux pour tous, de multiples sections de jeu, l’équipe Synergie Gaming est l’équipe qu'il vous faut.
</p>
<p>Soyez tous les bienvenus !
</p>
